.formio-form{
  color:#fff;
  font-weight: bold;
}

.form-group .btn{
  padding: 10px 30px;
}

.formio-component-submit{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:1rem;
  padding: 10px 0px;
}

.formio-component-select label{
  color:white;
}

.formio-component-select{
  color:gray;
}